* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
:root {
  --black: #0a0a0a;
  --purple: #5046e5;
  --grey: #a3a3a3;
}
/* Main code */
body {
  background-color: var(--black);
}
.mainElementDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100svh;
}
/* Front page ui */
.main-ui {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
  width: min(80%, 400px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #262626;
}
.card p:nth-child(1) {
  color: white;
  font-size: 150%;
  text-align: center;
  font-weight: bold;
  width: 80%;
}
.card p:nth-child(2) {
  color: var(--grey);
  text-align: center;
  width: 80%;
}
.card button:nth-child(3) {
  background-color: var(--purple);
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 100%;
  width: 80%;
  height: 5vh;
  font-weight: bold;
  padding: 3px;
}
.card button:nth-child(3):hover {
  background-color: hsl(244, 75%, 63%);
}
.card * {
  padding: 5px;
}

/* Boxes container */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 2%;
}
/* Box rows */
.rowOne {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.rowTwo {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.rowThree {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
/* Individual boxes */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: #262626;
  color: white;
  font-weight: bolder;
  font-size: 500%;
  width: 13vh;
  height: 13vh;
}
.box:hover {
  background-color: hsl(0, 0%, 20%);
}
/* results container */
.result {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 220%;
  color: white;
  text-align: center;
}
/* Action buttons container */
.actionButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reset {
  width: min(40%, 200px);
  height: 5vh;
  background-color: var(--purple);
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 102%;
  font-weight: bold;
  margin-top: 10px;
}
.reset:hover {
  background-color: hsl(244, 75%, 63%);
}
.startNewGame {
  display: none;
  width: min(40%, 200px);
  height: 5vh;
  background-color: #262626;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 102%;
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 10px;
}
.startNewGame:hover {
  background-color: hsl(0, 0%, 20%);
}

/* Scores */
.scores {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
}
/* Player one div */
#playerOneScoreDiv {
  width: min(15%, 150px);
  border: 2px solid #262626;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.playerOneName {
  color: var(--purple);
  text-align: center;
  font-size: 90%;
}
.playerOneScore {
  color: white;
  font-size: 220%;
  font-weight: bold;
}
/* Tie div */
#tieScoreDiv {
  width: min(15%, 150px);
  border: 2px solid #262626;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tieName {
  color: var(--purple);
  text-align: center;
  font-size: 90%;
}
.tieScore {
  color: white;
  font-size: 220%;
  font-weight: bold;
}
/*Player 2 div*/
#playerTwoScoreDiv {
  width: min(15%, 150px);
  border: 2px solid #262626;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.playerTwoName {
  color: var(--purple);
  text-align: center;
  font-size: 90%;
}
.playerTwoScore {
  color: white;
  font-size: 220%;
  font-weight: bold;
}
/* Dialog */
#newGameDialog {
  width: min(70%, 400px);
  padding: 30px;
  margin: auto;
  border: 1px solid hsl(0, 0%, 10%);
  border-radius: 3px;
  background-color: var(--black);
}
#formContainer {
  display: flex;
  flex-direction: column;
}
#form {
  display: flex;
  flex-direction: column;
}
#label1 {
  color: var(--grey);
  font-size: 80%;
}
#label2 {
  color: var(--grey);
  font-size: 80%;
}
#playerOneName {
  padding: 5px;
  background-color: var(--black);
  border: 1px solid #262626;
  border-radius: 3px;
  color: white;
  font-size: 105%;
}
#playerOneName:focus {
  outline: 1px solid #5046e5;
}
#playerTwoName {
  padding: 5px;
  background-color: var(--black);
  border: 1px solid #262626;
  border-radius: 3px;
  color: white;
  font-size: 105%;
}
#playerTwoName:focus {
  outline: 1px solid #5046e5;
}
#dialogSubmitButton {
  width: 50%;
  align-self: center;
  margin-top: 1vh;
  padding: 3px;
  color: white;
  background-color: var(--purple);
  border: none;
  border-radius: 3px;
  font-size: 105%;
}
#dialogCloseButton {
  align-self: center;
  margin-top: 0.5vh;
  padding: 5px;
  color: white;
  background-color: #262626;
  border: none;
  border-radius: 3px;
  font-size: 105%;
}
#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: var(--purple);
  height: 4svh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer > p > a {
  color: white;
}
/* Hover effects */
#dialogSubmitButton:hover {
  background-color: hsl(244, 75%, 63%);
}
#dialogCloseButton:hover {
  background-color: hsl(0, 0%, 20%);
}
